@media (max-width: 1000px) {
  .container {
    height: 72px;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    display: flex;
  }

  .notificationContainer {
    display: none;
  }

  .imageBottom {
    display: none;
  }

  .linkContainer {
    margin: 0 0 0 0;
    width: 206px;
    gap: 30px;
    align-items: flex-end;
  }

  .avatarContainer {
    margin: 0 0 0 20px;
  }

  .menuHeaderBurger {
    margin-bottom: -500px;
    margin-right: 20px;
    background-color: rgb(209 213 219);
  }

  .otherButtons {
    flex-direction: row;
  }

  .officeItemsSearchButton {
    width: 44px;
  }

  .officeItemsAddButton {
    width: 44px;
  }
}

.linkItem {
  display: none;
}

.burgerMenu {
  cursor: pointer;
  margin-right: 20px;
  margin-top: -10px;
}

.officeItemsContainer {
  width: 100%;
  overflow: visible;
  padding: 1rem;
  min-height: 0; /* Убираем минимальную высоту, если она есть */
  height: auto; /* Позволяем растягиваться */
}

.officeItemsList {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  column-gap: 16px;
  row-gap: 28px;
  overflow-y: auto;
  width: 100%;
  max-width: 1048px;
  max-height: calc(100vh - 300px);
  min-height: 200px;
  padding-right: 8px;
  margin-top: 1.75rem; /* mt-7 в пикселях ≈ 28px или 1.75rem */

  /* Адаптивность колонок */
  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}
